    <div class="position-sticky t-100">
        {% if post.postFiles is not empty %}
            <div class="row mt-3">
                <div class="col">
                    <h5>Dateien</h5>
                    <div class="card shadow-sm">
                        <div class="list-group list-group-flush">
                            {% for file in post.postFiles %}
                                {% set type = file.fileName|split('.') %}
                                <a href="{{ vich_uploader_asset(file) }}" class="list-group-item list-group-item-action" download="{{ file.title }}.{{ type|last }}">
                                    <span class="mr-1 fiv-cla fiv-icon-{{ type|last }}"></span>
                                    <span class="text-primary">{{ file.title }}</span>
                                    <p class="small mb-0">{{ file.description }}</p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if post.imageGallery is not empty %}
            <div class="row mt-3">
                <div class="col">
                    <h5>{{ post.imageGallery.title }}</h5>
                    <div class="row gutters-sm">
                        {% for image in post.imageGallery.images %}
                            <div class="col-6">
                                <a
                                        href="{{ vich_uploader_asset(image) }}"
                                        class="chocolat-image"
                                        title="{{ image.title }}"
                                >
                                    <img
                                            src="{{ vich_uploader_asset(image)| imagine_filter('admin_preview') }}"
                                            alt="{{ image.title }}"
                                            class="img-fluid mb-2"
                                    >
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>