
    {% for result in results %}
        {% if not result.parent == null %}
        <a
                href="{{ path('app_show_sub_post', {
                    'category_slug': result.parent.category.parent.slug,
                    'sub_category_slug': result.parent.category.slug,
                    'post_slug': result.parent.slug,
                    'sub_post_slug': result.slug,
                }) }}"
                class="list-group-item list-group-item-action search-result-item"
        >
            <h6 class="text-primary">{{ result.title }}</h6>
            <p class="mb-0">{{ result.description }}</p>
            <span class="badge badge-light text-muted text-uppercase font-weight-normal">{{ result.parent.category.title }}</span>
        </a>
        {% else %}
            <a
                    href="{{ path('app_show_post', {
                        'category_slug': result.category.parent.slug,
                        'sub_category_slug': result.category.slug,
                        'post_slug': result.slug
                    }) }}"
                    class="list-group-item list-group-item-action search-result-item"
            >
                <h6 class="text-primary">{{ result.title }}</h6>
                <p class="mb-0">{{ result.description }}</p>
                <span class="badge badge-light text-muted text-uppercase font-weight-normal">{{ result.category.title }}</span>
            </a>
        {% endif %}
    {% endfor %}

