{% extends 'app.html.twig' %}

{% block body_content %}
    {% if current_category.flashMessages is not empty %}
        {% for message in current_category.flashMessages %}
            <section class="py-3 flash-message-{{ message.color }}">
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center">
                        <a
                                href="{{ absolute_url(message.path) }}"
                                class=""
                        >
                            {{ message.title }}
                        </a>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}
    <section class="fit py-3">
        <div class="container">
            <div class="row">
                {% for post in current_category.posts %}
                <div class="col-12 col-md-6">
                    <h4 class="text-primary">{{ post.title|trans }}</h4>
                    <p class="lead">{{ post.description }}</p>
                    <a
                            href=""
                            class="btn btn-link"
                    >
                        Weiterlesen <i class="fi-arrow-right"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="fit py-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="display-4">{{ current_category.title|trans }}</h3>
                    <p class="lead">{{ current_category.description }}</p>
                </div>
            </div>
        </div>
    </section>
    {% for category in sub_categories %}
        {% if  category.isShown %}
            {% set categoryBackground = '' %}
            {% if category.isLead = 1 %}
                {% set categoryBackground = 'bg-light' %}
            {% endif %}
            <section class="fit py-5 mb-3 {{ categoryBackground }}">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-5">
                            {% if category.imageName is not empty %}
                                <img
                                        src="{{ vich_uploader_asset(category)|imagine_filter('post_100_100') }}"
                                        alt="{{ category.title }}"
                                        class=""
                                >
                            {% endif %}
                            <h3 class="mt-3">{{ category.title }}</h3>
                            <p class="lead">{{ category.description }}</p>
                            <a
                                    href="{{ path('app_show_post', {
                                        'category_slug': current_category.slug,
                                        'sub_category_slug': category.slug,
                                        'post_slug': category.posts|first.slug

                                    }) }}"
                                    class="stretched-link"
                            >
                                Mehr erfahren
                                <i class="fas fa-chevron-right ml-2"></i>
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            {% for post in category.posts %}
                                {% if post.isVisible %}
                                <div class="media mb-1">
                                    <img
                                            src="{{ vich_uploader_asset(post) }}"
                                            class="img-fluid mr-4"
                                            alt="{{ post.imageName|default('') }}">
                                    <div class="media-body">
                                        <h6 class="mb-1">
                                            <a
                                                    href="{{ path('app_show_post', {
                                                        'category_slug': current_category.slug,
                                                        'sub_category_slug': category.slug,
                                                        'post_slug': post.slug
                                                    }) }}"
                                                    class=""
                                            >
                                                {{ post.title }}
                                            </a>
                                        </h6>
                                        <p class="">
                                            {{ post.description }}
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
