{% block postal_address_row %}
    <div class="form-label-group">
        {{ form_widget(form.phone) }}
        {{ form_label(form.phone) }}
        {{ form_help(form.phone) }}
    </div>
    <div class="form-label-group">
        {{ form_widget(form.addressLine1) }}
        {{ form_label(form.addressLine1) }}
        {{ form_help(form.addressLine1) }}
    </div>
    <div class="form-label-group">
        {{ form_widget(form.addressLine2) }}
        {{ form_label(form.addressLine2) }}
        {{ form_help(form.addressLine2) }}
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-label-group">
                {{ form_widget(form.zipcode) }}
                {{ form_label(form.zipcode) }}
                {{ form_help(form.zipcode) }}
            </div>
        </div>
        <div class="col-8">
            <div class="form-label-group">
                {{ form_widget(form.city) }}
                {{ form_label(form.city) }}
                {{ form_help(form.city) }}
            </div>
        </div>
    </div>
    <div class="form-label-group">
        {{ form_widget(form.state) }}
        {{ form_label(form.state) }}
        {{ form_help(form.state) }}
    </div>
{% endblock %}