{% extends 'app.html.twig' %}

{% block main_menu %}
    {{ parent() }}
    {{ include('app/local_menu.html.twig') }}
{% endblock %}

{% block body_content %}
    <section class="py-3">
    </section>
    <section class="fit py-5 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3 order-2 order-md-0">

                </div>
                <div class="col-12 col-md-9 order-1">
                    <h3 class="">{{ current_post.title }}</h3>
                    <p>{{ current_post.description }}</p>
                    {{ current_post.content|raw }}
                </div>
            </div>
        </div>
    </section>

    {% for post in current_sub_category.posts %}
        {% if post.isVisible %}
            <section class="fit py-5 mb-3 bg-lighter" id="child_posts">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-4">
                            <h4 class="">{{ post.title }}</h4>
                            <p class="lead">{{ post.description }}</p>
                            <a
                                    href="{{ path('app_show_post', {
                                            'category_slug': current_category.slug,
                                            'sub_category_slug': current_sub_category.slug,
                                            'post_slug': post.slug
                                    }) }}"
                                    class=""
                                    >
                                    {{ post.linktitle }}<i class="ml-1 fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            {% for child_post in post.posts|sort((a, b) => a.created <=> b.created) %}
                                <div class="media mb-1">
                                    <img
                                            src="{{ vich_uploader_asset(child_post) }}"
                                            class="img-fluid mr-4"
                                            alt="{{ child_post.imageName|default('') }}">
                                    <div class="media-body">
                                        <h6 class="mb-1">
                                            <a
                                                    href="{{ path('app_show_sub_post', {
                                                        'category_slug': current_category.slug,
                                                        'sub_category_slug': current_sub_category.slug,
                                                        'post_slug': post.slug,
                                                        'sub_post_slug': child_post.slug
                                                    }) }}"
                                                    class=""
                                            >
                                                {{ child_post.title }}
                                            </a>
                                        </h6>
                                        <p class="">
                                            {{ child_post.description }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
