<div class="row">
    <div class="col">
        <h3 class="">{{ post.title }}</h3>
        <p>{{ post.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ post.content|raw }}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive-md">
            <table class="table table-borderless table-striped table-sm">
                <caption>{{ post.metaTitle }}</caption>
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Marke</th>
                    <th>Typ</th>
                    <th>Datum</th>
                </tr>
                </thead>
                <tbody>
                {% if post.posts|length > 0 %}
                    {% for driver in post.posts|sort((a, b) => a.title <=> b.title) %}
                        <tr>
                            <td class="text-nowrap">
                                <a href="{{ path('app_show_sub_post', {
                                    'category_slug': current_category.slug,
                                    'sub_category_slug':current_sub_category.slug,
                                    'post_slug': current_post.slug,
                                    'sub_post_slug':driver.slug
                                }) }}">
                                    {{ driver.title }}
                                </a>
                            </td>
                            <td class="text-nowrap">{{ driver.tags }}</td>
                            <td class="text-nowrap">{{ driver.tag }}</td>
                            <td class="text-nowrap">{{ driver.created|date('d.m.Y') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Keine Ergebnisse</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="text-muted py-3">
        </p>
    </div>
</div>
