<div class="row">
    <div class="col">
        <h3 class="">{{ post.title }}</h3>
        <p>{{ post.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ post.content|raw }}
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-sm">
            <caption>{{ post.metaTitle }}</caption>
            <thead>
            <tr>
                <th>Produkt</th>
                <th>Marke</th>
                <th>Typ</th>
                <th>Datum</th>
            </tr>
            </thead>
            <tbody>
            {% if post.posts %}
                {% for driver in post.posts %}
                    <tr>
                        <td>
                            <a href="{{ path('app_show_sub_post', {
                                'category_slug': current_category.slug,
                                'sub_category_slug':current_sub_category.slug,
                                'post_slug': current_post.slug,
                                'sub_post_slug':driver.slug
                            }) }}">
                                {{ driver.title }}
                            </a>
                        </td>
                        <td>{{ driver.tags }}</td>
                        <td>{{ driver.tag }}</td>
                        <td>{{ driver.created|ago }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Keine Ergebnisse</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="text-muted py-3">
            This work, including the code samples, is licensed under a Creative Commons BY-SA 3.0 license.
        </p>
    </div>
</div>
