{% extends 'admin.html.twig' %}

{% block title %}Comment{% endblock %}

{% block content %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ comment.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ comment.author }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ comment.email }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ comment.slug }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ comment.created ? comment.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ comment.updated ? comment.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}">back to list</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
