{% extends 'admin.html.twig' %}

{% block title %}Image index{% endblock %}

{% block content %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td class="align-middle">{{ image.id }}</td>
                <td><img class="img-fluid" alt="{{ image.title }}" src="{{ vich_uploader_asset(image)| imagine_filter('admin_small') }}"></td>
                <td class="align-middle">{{ image.title }}</td>
                <td class="align-middle"><code>
                    {{ app.request.getSchemeAndHttPHost() }}/images/galleries/{{ image.imageName }}
                    </code>
                </td>

                <td class="align-middle">
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
