{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>MetaTitle</th>
                <th>Description</th>
                <th>ImageName</th>
                <th>ImageSize</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.title }}</td>
                <td>{{ image.metaTitle }}</td>
                <td>{{ image.description }}</td>
                <td>{{ image.imageName }}</td>
                <td>{{ image.imageSize }}</td>
                <td>{{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ image.slug }}</td>
                <td>{{ image.created ? image.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ image.updated ? image.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
