{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
    <h3>Administration</h3>
    <div class="row">
        <div class="col">
            <div class="list-group list-group-flush">
                <a href="{{ path('category_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-panel"></i>
                    Kategorie
                </a>
                <a href="{{ path('post_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-layout-list-post"></i>
                    Artikel
                </a>
                <a href="{{ path('comment_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-comment"></i>
                    Kommentare
                </a>
                <a href="{{ path('main_menu_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-menu"></i>
                    Hauptmenü
                </a>
                <a href="{{ path('post_file_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-menu"></i>
                    Uploads
                </a>
                <a href="{{ path('image_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-menu"></i>
                    Bilder
                </a>
                <a href="{{ path('image_gallery_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-menu"></i>
                    Bilder Gallerien
                </a>
                <a href="{{ path('contact_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-contact"></i>
                    Kontaktanfragen
                </a>
                <a href="{{ path('states_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-map"></i>
                    Bundesländer
                </a>
                <a href="{{ path('flash_message_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-message"></i>
                    Flash Messages
                </a>
                <a href="{{ path('tag_index') }}" class="list-group-item list-group-item-action">
                    <i class="ti ti-tag"></i>
                    Tags
                </a>
            </div>
        </div>
    </div>
{% endblock %}
