<div class="row">
    <div class="col">
        <h3 class="h3">{{ post.title }}</h3>
    </div>
</div>
<div class="row gutters-sm align-items-stretch">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="list-group list-group-flush">
                {% if post.posts|length > 0 %}
                    {% for article in post.posts|sort((a, b) => a.title <=> b.title) %}
                        {#
                        {% if article.imageName is not empty %}
                            <img
                                    src="{{ vich_uploader_asset(article)|imagine_filter('post_100_100') }}"
                                    alt="{{ article.title }}"
                                    class="img-fluid rounded-top"
                            >
                        {% endif %}
                        #}
                        <a
                                href="{{ path('app_show_sub_post', {
                                    'category_slug': current_category.slug,
                                    'sub_category_slug': current_sub_category.slug,
                                    'post_slug': current_post.slug,
                                    'sub_post_slug': article.slug
                                }) }}"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        >
                            <div>
                                <h5 class="mb-0">{{ article.title }}</h5>
                                <p class="small mb-0">{{ article.description }}</p>
                            </div>
                            <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                        <div class="hidden tags {{ article.tags.title|default('n/a') }}"></div>
                    {% endfor %}
                {% else %}
                    <div class="list-group-item">
                        <p class="mb-0">Keine Einträge vorhanden.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


