<div class="row">
    <div class="col">
        <h3 class="h3">{{ post.title }}</h3>
    </div>
</div>
<div class="row gutters-sm align-items-stretch">
        {% for article in post.posts %}
            <div class="col-12 col-sm-6 col-md-4 mb-2">
                <div class="card shadow-sm h-100">
                    {#
                    {% if article.imageName is not empty %}
                        <img
                                src="{{ vich_uploader_asset(article)|imagine_filter('post_100_100') }}"
                                alt="{{ article.title }}"
                                class="img-fluid rounded-top"
                        >
                    {% endif %}
                    #}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <span class="badge badge-light text-uppercase">{{ article.tags.title }}</span>
                            <h4>{{ article.title }}</h4>
                            <p>{{ article.description }}</p>
                        </div>
                        <div>
                            <a
                                    href="{{ path('app_show_sub_post', {
                                        'category_slug': current_category.slug,
                                        'sub_category_slug': current_sub_category.slug,
                                        'post_slug': current_post.slug,
                                        'sub_post_slug': article.slug
                                    }) }}"
                                    class="stretched-link"
                            >
                                {{ article.linkTitle }}
                                <i class="fas fa-chevron-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="hidden tags {{ article.tags.title|default('n/a') }}"></div>
                </div>
            </div>
        {% endfor %}
</div>


