<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{{ controller_name ?? '' }} | {{ app_title ?? "n/a" }}{% endblock %}</title>
    {% block opengraph %}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body class="py-5">

{% block header %}

    {% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
    <div class="container-fluid mb-5">
        <div class="nav nav-tabs">
            <a class="nav-item nav-link {{ path('admin') == currentPath ? 'active' }}" href="{{ path('admin') }}">Home</a>
            <a class="nav-item nav-link {{ path('post_index') == currentPath ? 'active' }}" href="{{ path('post_index') }}">Post</a>
            <a class="nav-item nav-link {{ path('category_index') == currentPath ? 'active' }}" href="{{ path('category_index') }}">Category</a>
            <a class="nav-item nav-link {{ path('image_index') == currentPath ? 'active' }}" href="{{ path('image_index') }}">Images</a>
        </div>
    </div>

{% endblock %}

<!--begin::Body-->
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
<!--end::Body-->

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}

    <script src="{{ asset('legacy/tinymce/tinymce.min.js') }}"></script>


    <script type="text/javascript">
        tinymce.init({
            selector: '.tinymce',
            plugins: 'anchor table codesample media link image imagetools visualblocks code charmap lists',
            toolbar: 'codesample anchor link image visualblocks code charmap numlist bullist',
            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'PHP', value: 'php' },
                { text: 'Ruby', value: 'ruby' },
                { text: 'Python', value: 'python' },
                { text: 'Java', value: 'java' },
                { text: 'C', value: 'c' },
                { text: 'C#', value: 'csharp' },
                { text: 'C++', value: 'cpp' },
                { text: 'Shell', value: 'shell' },
                { text: 'Bash', value: 'bash'}
            ],
            relative_urls : false,
            remove_script_host : true,
            document_base_url: '{{ app.request.getSchemeAndHttpHost() }}'
        });



    </script>

{% endblock %}
</body>
</html>