<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="de">
<head>
    <meta charset="UTF-8">
    {% set controller_name = controller_name|default('Fehler') %}
    <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1, maximum-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block opengraph %}
        {% set op = true %}
        {% if current_sub_post is defined %}
            {% set post = current_sub_post %}
        {% elseif current_post is defined %}
            {% set post = current_post %}
        {% elseif current_category is defined %}
            {% set post = current_category %}
            {% else %}
            {% set op = false %}
        {% endif %}

        <title>{% block title %}{{ post.metaTitle|default('Mediengestaltung für Bild, Ton und Print') }} | {{ app_title ?? "Vapita" }}{% endblock %}</title>

        {% if op %}
            {% if post.imageName %}
                <meta property="og:image" content="{{ vich_uploader_asset(post)|imagine_filter('story_lead') }}">
            {% endif %}
            <meta property="og:title" content="{{ post.metaTitle }}">
            {% if post.metaDescription is defined %}
                <meta property="og:description" content="{{ post.metaDescription }}">
                <meta name="description" content="{{ post.metaDescription }}"/>
            {% else %}
                <meta property="og:description" content="{{ post.meteDescription }}">
                <meta name="description" content="{{ post.meteDescription }}"/>
            {% endif %}
        {% endif %}

        <meta property="og:type" content="Website">
        <meta property="og:site_name" content="Vapita">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="fb:app_id" content="2827939947307832"/>
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    </head>
    <body class="d-flex flex-column flex-grow-0">

        {% block header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="fit bg-light pt-3 pb-5 mt-auto">

                    {% block footer_additional_content %}{% endblock %}
                <div class="container">
                    {{ include('footer.html.twig') }}
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </body>
</html>
