{% extends 'admin.html.twig' %}

{% block title %}FlashMessage{% endblock %}

{% block content %}
    <h1>FlashMessage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flash_message.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ flash_message.title }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ flash_message.color }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ flash_message.path }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('flash_message_index') }}">back to list</a>

    <a href="{{ path('flash_message_edit', {'id': flash_message.id}) }}">edit</a>

    {{ include('flash_message/_delete_form.html.twig') }}
{% endblock %}
