{% extends 'admin.html.twig' %}

{% block title %}ImageGallery index{% endblock %}

{% block content %}
    <h1>ImageGallery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>MetaTitle</th>
                <th>Description</th>
                <th>Slug</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_gallery in image_galleries %}
            <tr>
                <td>{{ image_gallery.id }}</td>
                <td>{{ image_gallery.title }}</td>
                <td>{{ image_gallery.metaTitle }}</td>
                <td>{{ image_gallery.description }}</td>
                <td>{{ image_gallery.slug }}</td>
                <td>{{ image_gallery.created ? image_gallery.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ image_gallery.updated ? image_gallery.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('image_gallery_show', {'id': image_gallery.id}) }}">show</a>
                    <a href="{{ path('image_gallery_edit', {'id': image_gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_gallery_new') }}">Create new</a>
{% endblock %}
